

<div class="products col-xs-8">
	<title>List of Products</title>
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to image_tag(product.img_url, size:"240x250"), product_path(product) %>
         <br>
        Title: <%= product.name %><br>
        Price: $<%= product.price %><br>
        Category: <%= product.category %><br>
      </div>
    <% end %>


<br>
<!-- <%= link_to 'New Product', new_product_path %> -->

</div>
<%= render "chatall" %>
