<title>Market Place</title>
<body>
  <div class="hero-unit">
      <img style="max-height:200px;" src="/assets/tbay-logo-transparent.png">
  </div>
  <hr>

  <div class="row-fluid">
    <div style="display:block">
      <button class="btn btn-default" type="button" disabled="disabled">
          Most Popular items
      </button>
    </div>
    <% @top_view.each do |product| %>
      <div class="top-products">
          <div class="prod-image"><%= link_to image_tag(product.img_url), product_path(product)%></div>
        <br>
        <div class="prod-text">
          Title: <%= product.name %><br>
          Price: $<%= product.price %><br>
          Category: <%= Category.find_by_id(product.category).name %><br>
        </div>
      </div>

    <% end %>
  </div>
  <hr>
  <button class="btn btn-default" type="button" disabled="disabled">Browse by Categories</button>
  <br><br/>

  <div class="row-fluid" ng-controller="MainCtrl">
    <div class="well">
      <div id="category-wall">
      <% @categories.each do |cat| %>
        <a class="btn btn-default" id="<%= cat.id %>" ng-click="updateCategory()">
          <%= cat.name %>
        </a>
      <% end %>
      </div>
      <br /><br/>
      <div class="btn-group">
        <button id="choose-category" class="btn btn-primary" ng-click="updateCategory()">Update</button>
        <button id="btn-tbay" class="btn"  ng-click="restart()">Reset</button>
      </div>
    </div>

    <ul class="panel" scroller>
      <div masonry>
        <li data-ng-repeat="photo in photos" class="masonry-photo" >
          <div class="top-products">
            <a ng-href="products/{{photo.id}}">
              <img class="prod-image" ng-src="{{ photo.url}}">
            </a><br>
            <div class="prod-text">
              Title: {{photo.title}}<br>
              Price: {{photo.price}}<br>
            </div>
          </div>
        </li>
      </div>
    </ul>

  </div>
  <div id="gallery-bottom">
    </div>
</body>

