<!DOCTYPE html>
<html>
<head>
  <title>tBay - Your Local Trading Community</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="application/javascript" src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
  <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>


  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>

</head>
<body>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == "notice"? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>

          <li>
            <% if user_signed_in? %>
               | &nbsp; Logged in as <strong><%= current_user.email %></strong>
              <%= link_to 'Edit profile', edit_user_registration_path, class: "login_button"  %>
              <%= link_to "Logout", destroy_user_session_path, class: "login_button", method: :delete %>
              <div id="hidden" data-username="<%= current_user.name %>">
            <% else %>
               | <%= link_to "Sign up", new_user_registration_path, class: "login_button" %>
              <%= link_to "Login", new_user_session_path, class: "login_button" %>
            <% end %>
          </li>
        </ul>
        <h3 class="text-muted">tBay</h3>
        <hr>
    </div>

    <%= yield %>

  </div>

</body>
</html>
